<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mogujie.jarvis.web.mapper.JobMapper">

    <sql id="condition">
      <where>
          <if test="jobId!=null">
              jobId=#{jobId}
          </if>
          <if test="originJobId!=null">
              AND originJobId=#{originJobId}
          </if>
          <if test="jobName!=null and jobName!='' and jobName!='all'">
              AND jobName=#{jobName}
          </if>
          <if test="jobType!=null and jobType!='' and jobType!='all'">
              AND jobType=#{jobType}
          </if>
          <if test="jobFlag!=null">
              AND jobFlag=#{jobFlag}
          </if>
          <if test="submitUser!=null and submitUser!='' and submitUser!='all' ">
              AND submitUser=#{submitUser}
          </if>
          <if test="content!=null">
              AND content=#{content}
          </if>
          <if test="priority!=null">
              AND priority=#{priority}
          </if>
          <if test="appId!=null">
              AND appId=#{appId}
          </if>
          <if test="workerGroupId!=null">
              AND workerGroupId=#{workerGroupId}
          </if>
          <if test="updateUser!=null">
              AND updateUser=#{updateUser}
          </if>

      </where>
    </sql>
    <sql id="pager">
        <if test="offset!=null and limit!=null">
          limit #{offset},#{limit}
        </if>
    </sql>
    
    <select id="getCountByCondition" parameterType="JobSearchVo" resultType="Integer">
      SELECT COUNT(1) FROM job
      <include refid="condition" />
    </select>

    <select id="getJobsByCondition" parameterType="JobSearchVo" resultType="JobVo">
      SELECT job.*,app.appName,app.appKey FROM job LEFT JOIN app ON job.appId=app.appId
      <include refid="condition" />

      <include refid="pager" />
    </select>

    <select id="getJobById" parameterType="Long" resultType="JobVo">
        SELECT * FROM job WHERE jobId=#{jobId} limit 0,1
    </select>

    <select id="getJobByName" parameterType="String" resultType="JobVo">
        SELECT * FROM job WHERE jobName=#{_parameter} limit 0,1
    </select>

    <select id="getJobIds" resultType="Long">
      SELECT DISTINCT jobId FROM job;
    </select>
    
    <select id="getJobNames" resultType="String">
      SELECT DISTINCT jobName FROM job;
    </select>

    <select id="getSubmitUsers" resultType="String">
      SELECT DISTINCT submitUser FROM job;
    </select>

    <select id="getSimilarJobIds" parameterType="JobSearchVo" resultType="Integer">
      SELECT DISTINCT jobId FROM job
      <where>
          <if test="jobId!=null">
              jobId LIKE '%${jobId}%'
          </if>
      </where>
    </select>

    <select id="getSimilarJobNames" parameterType="JobSearchVo" resultType="String">
      SELECT DISTINCT jobName FROM job
      <where>
          <if test="jobName!=null and jobName!=''">
              jobName LIKE '%${jobName}%'
          </if>
      </where>
    </select>

    <select id="getCronTabByJobId" parameterType="Long" resultType="CronTabVo">
        SELECT * FROM crontab WHERE jobId=${_parameter}
    </select>
</mapper>