<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mogujie.jarvis.web.mapper.TaskDependMapper">


    <select id="getTaskDependByTaskId" parameterType="Long" resultType="TaskDependVo">
        SELECT * FROM task_depend WHERE taskId=#{_parameter}
    </select>

</mapper>