<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mogujie.jarvis.web.mapper.TaskExecuteRecordsMapper">

    <select id="getByTaskId" parameterType="Long" resultType="TaskExecuteRecordsVo">
      SELECT * FROM task_execute_records WHERE taskId=#{taskId}
    </select>

</mapper>