<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mogujie.jarvis.dao.generate.CrontabMapper" >
  <resultMap id="BaseResultMap" type="com.mogujie.jarvis.dto.generate.Crontab" >
    <id column="cronId" property="cronId" jdbcType="INTEGER" />
    <result column="jobId" property="jobId" jdbcType="BIGINT" />
    <result column="cronType" property="cronType" jdbcType="INTEGER" />
    <result column="cronExpression" property="cronExpression" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cronId, jobId, cronType, cronExpression, createTime, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mogujie.jarvis.dto.generate.CrontabExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from crontab
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from crontab
    where cronId = #{cronId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from crontab
    where cronId = #{cronId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mogujie.jarvis.dto.generate.CrontabExample" >
    delete from crontab
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mogujie.jarvis.dto.generate.Crontab" >
    <selectKey resultType="java.lang.Integer" keyProperty="cronId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into crontab (jobId, cronType, cronExpression, 
      createTime, updateTime)
    values (#{jobId,jdbcType=BIGINT}, #{cronType,jdbcType=INTEGER}, #{cronExpression,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mogujie.jarvis.dto.generate.Crontab" >
    <selectKey resultType="java.lang.Integer" keyProperty="cronId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into crontab
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        jobId,
      </if>
      <if test="cronType != null" >
        cronType,
      </if>
      <if test="cronExpression != null" >
        cronExpression,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        #{jobId,jdbcType=BIGINT},
      </if>
      <if test="cronType != null" >
        #{cronType,jdbcType=INTEGER},
      </if>
      <if test="cronExpression != null" >
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mogujie.jarvis.dto.generate.CrontabExample" resultType="java.lang.Integer" >
    select count(*) from crontab
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update crontab
    <set >
      <if test="record.cronId != null" >
        cronId = #{record.cronId,jdbcType=INTEGER},
      </if>
      <if test="record.jobId != null" >
        jobId = #{record.jobId,jdbcType=BIGINT},
      </if>
      <if test="record.cronType != null" >
        cronType = #{record.cronType,jdbcType=INTEGER},
      </if>
      <if test="record.cronExpression != null" >
        cronExpression = #{record.cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update crontab
    set cronId = #{record.cronId,jdbcType=INTEGER},
      jobId = #{record.jobId,jdbcType=BIGINT},
      cronType = #{record.cronType,jdbcType=INTEGER},
      cronExpression = #{record.cronExpression,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mogujie.jarvis.dto.generate.Crontab" >
    update crontab
    <set >
      <if test="jobId != null" >
        jobId = #{jobId,jdbcType=BIGINT},
      </if>
      <if test="cronType != null" >
        cronType = #{cronType,jdbcType=INTEGER},
      </if>
      <if test="cronExpression != null" >
        cronExpression = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cronId = #{cronId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mogujie.jarvis.dto.generate.Crontab" >
    update crontab
    set jobId = #{jobId,jdbcType=BIGINT},
      cronType = #{cronType,jdbcType=INTEGER},
      cronExpression = #{cronExpression,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where cronId = #{cronId,jdbcType=INTEGER}
  </update>
  <cache />
</mapper>