<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mogujie.jarvis.dao.generate.TaskScheduleMapper" >
  <resultMap id="BaseResultMap" type="com.mogujie.jarvis.dto.generate.TaskSchedule" >
    <id column="jobId" property="jobId" jdbcType="BIGINT" />
    <id column="preJobId" property="preJobId" jdbcType="BIGINT" />
    <id column="preTaskId" property="preTaskId" jdbcType="BIGINT" />
    <result column="scheduleTime" property="scheduleTime" jdbcType="BIGINT" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    jobId, preJobId, preTaskId, scheduleTime, createTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mogujie.jarvis.dto.generate.TaskScheduleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task_schedule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.mogujie.jarvis.dto.generate.TaskScheduleKey" >
    select 
    <include refid="Base_Column_List" />
    from task_schedule
    where jobId = #{jobId,jdbcType=BIGINT}
      and preJobId = #{preJobId,jdbcType=BIGINT}
      and preTaskId = #{preTaskId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.mogujie.jarvis.dto.generate.TaskScheduleKey" >
    delete from task_schedule
    where jobId = #{jobId,jdbcType=BIGINT}
      and preJobId = #{preJobId,jdbcType=BIGINT}
      and preTaskId = #{preTaskId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mogujie.jarvis.dto.generate.TaskScheduleExample" >
    delete from task_schedule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mogujie.jarvis.dto.generate.TaskSchedule" >
    insert into task_schedule (jobId, preJobId, preTaskId, 
      scheduleTime, createTime)
    values (#{jobId,jdbcType=BIGINT}, #{preJobId,jdbcType=BIGINT}, #{preTaskId,jdbcType=BIGINT}, 
      #{scheduleTime,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mogujie.jarvis.dto.generate.TaskSchedule" >
    insert into task_schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        jobId,
      </if>
      <if test="preJobId != null" >
        preJobId,
      </if>
      <if test="preTaskId != null" >
        preTaskId,
      </if>
      <if test="scheduleTime != null" >
        scheduleTime,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        #{jobId,jdbcType=BIGINT},
      </if>
      <if test="preJobId != null" >
        #{preJobId,jdbcType=BIGINT},
      </if>
      <if test="preTaskId != null" >
        #{preTaskId,jdbcType=BIGINT},
      </if>
      <if test="scheduleTime != null" >
        #{scheduleTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mogujie.jarvis.dto.generate.TaskScheduleExample" resultType="java.lang.Integer" >
    select count(*) from task_schedule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update task_schedule
    <set >
      <if test="record.jobId != null" >
        jobId = #{record.jobId,jdbcType=BIGINT},
      </if>
      <if test="record.preJobId != null" >
        preJobId = #{record.preJobId,jdbcType=BIGINT},
      </if>
      <if test="record.preTaskId != null" >
        preTaskId = #{record.preTaskId,jdbcType=BIGINT},
      </if>
      <if test="record.scheduleTime != null" >
        scheduleTime = #{record.scheduleTime,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update task_schedule
    set jobId = #{record.jobId,jdbcType=BIGINT},
      preJobId = #{record.preJobId,jdbcType=BIGINT},
      preTaskId = #{record.preTaskId,jdbcType=BIGINT},
      scheduleTime = #{record.scheduleTime,jdbcType=BIGINT},
      createTime = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mogujie.jarvis.dto.generate.TaskSchedule" >
    update task_schedule
    <set >
      <if test="scheduleTime != null" >
        scheduleTime = #{scheduleTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where jobId = #{jobId,jdbcType=BIGINT}
      and preJobId = #{preJobId,jdbcType=BIGINT}
      and preTaskId = #{preTaskId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mogujie.jarvis.dto.generate.TaskSchedule" >
    update task_schedule
    set scheduleTime = #{scheduleTime,jdbcType=BIGINT},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where jobId = #{jobId,jdbcType=BIGINT}
      and preJobId = #{preJobId,jdbcType=BIGINT}
      and preTaskId = #{preTaskId,jdbcType=BIGINT}
  </update>
  <cache />
</mapper>