<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mogujie.jarvis.dao.generate.TaskDependMapper" >
  <resultMap id="BaseResultMap" type="com.mogujie.jarvis.dto.generate.TaskDepend" >
    <id column="taskId" property="taskId" jdbcType="BIGINT" />
    <result column="dependTaskIds" property="dependTaskIds" jdbcType="VARCHAR" />
    <result column="childTaskIds" property="childTaskIds" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    taskId, dependTaskIds, childTaskIds, createTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mogujie.jarvis.dto.generate.TaskDependExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task_depend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from task_depend
    where taskId = #{taskId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from task_depend
    where taskId = #{taskId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mogujie.jarvis.dto.generate.TaskDependExample" >
    delete from task_depend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mogujie.jarvis.dto.generate.TaskDepend" >
    insert into task_depend (taskId, dependTaskIds, childTaskIds, 
      createTime)
    values (#{taskId,jdbcType=BIGINT}, #{dependTaskIds,jdbcType=VARCHAR}, #{childTaskIds,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mogujie.jarvis.dto.generate.TaskDepend" >
    insert into task_depend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        taskId,
      </if>
      <if test="dependTaskIds != null" >
        dependTaskIds,
      </if>
      <if test="childTaskIds != null" >
        childTaskIds,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="dependTaskIds != null" >
        #{dependTaskIds,jdbcType=VARCHAR},
      </if>
      <if test="childTaskIds != null" >
        #{childTaskIds,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mogujie.jarvis.dto.generate.TaskDependExample" resultType="java.lang.Integer" >
    select count(*) from task_depend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update task_depend
    <set >
      <if test="record.taskId != null" >
        taskId = #{record.taskId,jdbcType=BIGINT},
      </if>
      <if test="record.dependTaskIds != null" >
        dependTaskIds = #{record.dependTaskIds,jdbcType=VARCHAR},
      </if>
      <if test="record.childTaskIds != null" >
        childTaskIds = #{record.childTaskIds,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update task_depend
    set taskId = #{record.taskId,jdbcType=BIGINT},
      dependTaskIds = #{record.dependTaskIds,jdbcType=VARCHAR},
      childTaskIds = #{record.childTaskIds,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mogujie.jarvis.dto.generate.TaskDepend" >
    update task_depend
    <set >
      <if test="dependTaskIds != null" >
        dependTaskIds = #{dependTaskIds,jdbcType=VARCHAR},
      </if>
      <if test="childTaskIds != null" >
        childTaskIds = #{childTaskIds,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where taskId = #{taskId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mogujie.jarvis.dto.generate.TaskDepend" >
    update task_depend
    set dependTaskIds = #{dependTaskIds,jdbcType=VARCHAR},
      childTaskIds = #{childTaskIds,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where taskId = #{taskId,jdbcType=BIGINT}
  </update>
  <cache />
</mapper>